* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    position: absolute;
}

header .container {
    width: 28%;
    height: 140px;
    display: flex;
    justify-content: center;
}

header .container img {
    width: 50%;
}

section {
    background-image: url(../images/sakura-lago.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section .container {
    position: relative;
    padding: 40px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

section .container .banner_text img {
   width: 120%;
}

div.sobre {
    width: 100%;
    height: 700px;
    background-color: #41251d;
    
}

div.sobre .container {
    width: 50%;
    height: 700px;
    padding: 25px 25px 25px 95px;
    float: left;
}

div.sobre .content {
    width: 50%;
    height: 700px;
    padding: 25px 25px 25px 95px;
    background-color: rgb(2, 54, 56);
    float: right;
}


/*div.fake_body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container_sec {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container_sec .card {
    position: relative;
    width: 364px;
    height: 303px;
    margin: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg, black, #383838);
}

.container_sec .card img {
    position: absolute;
    bottom: 0;
    height: 315px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.container_sec .card:hover img {
    left: 73%;
    height: 300px;
}

.container_sec .card .content {
    position: relative;
    width: 50%;
    left: 20%;
    opacity: 0;
    visibility: hidden;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
}

.container_sec .card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.container_sec .card .content h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}

.container_sec .card .content p {
    color: white;
}

.container_sec .card .content a {
    position: relative;
    color: black;
    background: white;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#383838, #f8c1ef);
    border-radius: 6px;
}

.container_ter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 5%;
}

.container_ter .card {
    position: relative;
    width: 364px;
    height: 303px;
    margin: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg, black, #383838);
}

.container_ter .card img {
    position: absolute;
    bottom: 0;
    height: 315px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.container_ter .card:hover img {
    left: 73%;
    height: 300px;
}

.container_ter .card .content {
    position: relative;
    width: 50%;
    left: 20%;
    opacity: 0;
    visibility: hidden;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
}

.container_ter .card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.container_ter .card .content h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}

.container_ter .card .content p {
    color: white;
}

.container_ter .card .content a {
    position: relative;
    color: black;
    background: white;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
}

div.sombra_footer {
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 69px;
   
}

/*.sombra_footer::before {
    content: '';
    bottom: 0;
    width: 100%;
    height: 15vh;
    background: linear-gradient(to bottom,white,transparent);
    z-index: 1000;
}*/
footer {
    background-color: #666565;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 40px;
    color: white;
    margin-top: 11%;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer_content h3 {
    font-size: 1.8em;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer_content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: white;
}

.socials a i {
    font-size:  1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: rgb(6, 86, 88);
}

.footer-bottom {
    background-color: #383838;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.socials img {
    width: 28px;
}




  


