* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    position: absolute;
}

header .container {
    width: 28%;
    height: 140px;
    display: flex;
    justify-content: center;
}

header .container img {
    width: 50%;
}

section {
    background-image: url(../images/sakura-lago.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section .container {
    position: relative;
    padding: 40px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

section .container .banner_text img {
   width: 120%;
}

div.sobre {
    width: 100%;
    height: 600px;
    background-color: #47332e;
    
}

div.sobre .container {
    width: 50%;
    height: 600px;
    padding: 65px 25px 25px 95px;
    float: left;
}

div.sobre .container img {
    width: 90%;
}

div.sobre .content {
    width: 50%;
    height: 600px;
    padding: 25px 25px 25px 95px;
    float: right;
}

div.sobre .content img {
    width: 50%;
    margin: 10px 0 0 116px;
}

div.sobre .content p {
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;

}

div.slogan {
    width: 100%;
    height: 500px;
    background-image: url(../images/sakura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    display: flex;
    justify-content: center;
}

div.slogan .container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 105px;
}

div.slogan .container img {
    width: 60%;
}

div.fake_body {
    width: 100%;
    background-color: #47332e;
    justify-content: center;
    align-items: center;
}

div.fake_body .titulo {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
}

div.fake_body .titulo img {
    align-items: center;
    justify-content: center;
   
}

div.fake_body .container1 {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%; 
    background-color: #47332e;
}

div.fake_body .container1 .card {
    position: relative;
    width: 364px;
    height: 303px;
    margin: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg, #a32c68, #ffffff);
}

div.fake_body .container1 .card img {
    position: absolute;
    bottom: 0;
    height: 315px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

div.fake_body .container1 .card:hover img {
    left: 73%;
    height: 300px;
}

div.fake_body .container1 .card .content {
    position: relative;
    width: 50%;
    left: 20%;
    opacity: 0;
    visibility: hidden;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
}

div.fake_body .container1 .card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

div.fake_body .container1 .card .content h2 {
    color: #241410;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}

div.fake_body .container1 .card .content p {
    color: #47332e;
}

div.fake_body .container1 .card .content a {
    position: relative;
    color: black;
    background: white;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#131313, #f8c1ef);
    border-radius: 6px;
}

div.fake_body .container2 {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100vh; 
    background-color: #47332e;
}

div.fake_body .container2 .card {
    position: relative;
    width: 364px;
    height: 303px;
    margin: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg, #a32c68, #ffffff);
}

div.fake_body .container2 .card img {
    position: absolute;
    bottom: 0;
    height: 315px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

div.fake_body .container2 .card:hover img {
    left: 80%;
    height: 300px;
}

div.fake_body .container2 .card .content {
    position: relative;
    width: 50%;
    left: 20%;
    opacity: 0;
    visibility: hidden;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
}

div.fake_body .container2 .card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

div.fake_body .container2 .card .content h2 {
    color: #241410;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}

div.fake_body .container2 .card .content p {
    color: #47332e;
}

div.fake_body .container2 .card .content a {
    position: relative;
    color: black;
    background: white;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
}

footer {
  width: 100%;
  height: 31vh;
  background-color: #241410;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer_content h3 {
    font-size: 1.8em;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer_content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: white;
}

.socials a i {
    font-size:  1.1rem;
    transition: color .4s ease;
}

.footer-bottom {
    background-color: #faa8ca;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    color: #241410;
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.socials img {
    width: 28px;
}









  


