* {
    margin: 0;
    padding: 0;
}

.bg-image {
    background-image: url(../public/assets/finan-akbar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.bg-image::before {
    content: '';
    bottom: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    
}

div .container {
    width: 30vw;
    height: 70vh;
    background-color: white;
    position: absolute;
    top: 15%;
    border-radius: 5px;
    

}

.cadastro {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.container h1 {
    color: #d30202;
    z-index: 20;
    opacity: 1;
}



