* {
    margin: 0;
}

.bg-image {
    background-image: url(../azulao.jpg);
    filter: blur(2px);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
}

.container {
    height: 100%;
}

.banner {
   display: flex; 
   justify-content: center;
   align-items: center;
   height: 100%;
}
.banner img {
    width: 70%;
    height: 75%; 
    position: absolute;
    top: 50%;                        
   transform: translate(0, -50%)   
}

.banner .titulo_img {
    width: 30vw;
}

