* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: -webkit-center;
}

body {
    background-color: #666565;
}

header .container {
    height: 15vh;
    background-color: #383838;
    display: flex;
    justify-content: space-between;
}

header .container h3 {
    color: white;
    padding: 35px;
}

header div .image {
    width: 20%;
    height: 10vh;
}

.container img {
    width: 10%;
    height: 20vh;
    padding: 5px  0 20px 20px;
}

.menu {
    height: 8vh;
    background-color: #7a2828;
    
    padding: 0 0 0 25px;
}
 .menu .nav_bar {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
 }

 .menu .nav_bar li {
    padding: 15px 10px 10px 10px;
    list-style-type: none;

 }

 .menu .nav_bar li a {
    color: white;
    text-transform: uppercase;
    
    text-decoration: none;
 }

 .titulo {
    padding: 25px 10px 0 0;
 }

 .titulo h2 {
    color: white;
    text-transform: uppercase;
 }

button.botao a {
    color: white;
    background-color: #440000;
    width: 10%;
    padding: 2px 2px 2px 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
 }

 .formulario {
    height: 60vh;
    width: 80vw;
    background-color: #383838;
    margin: 25px 25px 0 25px;
    display: flex;
 }

 .formulario .container {
    color: white;
    width: 80vw;
    text-transform: uppercase;
    padding: 10px 25px 25px 30px;
    display: inline-grid;
 }



table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
}

table button {
    color: white;
    background-color: #440000;
    margin: 0 20px 0 0;
    width: 20%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}