* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: -webkit-center;
}

body {
    background-color: #666565;
}

header .container {
    height: 15vh;
    background-color: #383838;
    display: flex;
    justify-content: space-between;
}

header .container h3 {
    color: white;
    padding: 35px;
}

header div .image {
    width: 20%;
    height: 10vh;
}

.container img {
    width: 10%;
    height: 20vh;
    padding: 5px  0 20px 20px;
}

.menu {
    height: 8vh;
    background-color: white;
    
    padding: 0 0 0 25px;
}
 .menu .nav_bar {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
 }

 .menu .nav_bar li {
    padding: 15px 10px 10px 10px;
    list-style-type: none;

 }

 .menu .nav_bar li a {
    color: #525252;
    text-transform: uppercase;
    
    text-decoration: none;
 }

 .titulo {
    padding: 25px 10px 0 0;
 }

 .titulo h2 {
    color: white;
    text-transform: uppercase;
 }

button.botao a {
    color: #525252;
    background-color: #f8c1ef;
    width: 10%;
    padding: 2px 2px 2px 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
 }

 .formulario {
    height: 70%;
    width: 50%;
    background-color: #383838;
    margin: 25px 25px 0 25px;
    
 }

 .formulario .form_cadastro {
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .formulario .form_cadastro .container {
    color: white;
    width: 80%;
    text-transform: uppercase;
    padding: 10px 25px 25px 30px;
    display: inline-grid;
 }
 
 .lista {
    height: 60vh;
    width: 80vw;
    background-color: #383838;
    margin: 25px 25px 0 25px;
    display: flex;
 }

 .lista .container {
    color: white;
    width: 100%;
    text-transform: uppercase;
    padding: 10px 25px 25px 30px;
    display: inline-grid;
    height: 20%;
 }

table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
}

table button {
    color: #525252;
    background-color: #f8c1ef;
    margin: 20px 20px 20px 20px;
    width: 20%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

input {
    margin: 10px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   width: 100%;
}

 button  {
   color: #525252;
   font-size: 16px;
   font-weight: 200;
   padding: 13px 20px 13px;
   background-color: #f8c1ef;
}

.container_dash {
    width: 100vw;
    height: 60vh;
   margin: 25px 25px 0 0;
   display: flex;
}

.container_dash .content {
    width: 100vw;
    height: 20vh;
    background-color: white;
   justify-content: space-between;
   margin: 18px;
   padding: 10px 10px 10px 10px;
}

.container_dash .content img {
    width: 50px;
}